In [2]:
import pandas as pd

In [3]:
data1=pd.read_csv("D:\Python\Project\April2022.csv")
data2=pd.read_csv("D:\Python\Project\Feb2022.csv")
data3=pd.read_csv("D:\Python\Project\June2022.csv")
data4=pd.read_csv("D:\Python\Project\May2022.csv")

DATA=pd.concat([data1,data2])

print(DATA.head())
print()
print(data1.head())

   Sl.No.                Factor  Bengaluru Central  Ramanagara  Tumkuru  \
0     1.0  Physical performance                NaN         NaN      NaN
1     2.0             Schedules              621.0       457.0    581.0
2     3.0      (As on last day)                NaN         NaN      NaN
3     4.0            Fleet Held              733.0       491.0    614.0
4     5.0      (As on last day)                NaN         NaN      NaN

   Kolara  Chikkaballapura  Mysore  Mandya  Chamarajanagar  ...  \
0     NaN              NaN     NaN     NaN             NaN  ...
1   504.0            521.0   977.0   423.0           465.0  ...
2     NaN              NaN     NaN     NaN             NaN  ...
3   538.0            574.0  1091.0   447.0           509.0  ...
4     NaN              NaN     NaN     NaN             NaN  ...

   Chikkamagaluru  Mangaluru  Puttur  Davanagere  Shivamoga  Chitradurga  \
0             NaN        NaN     NaN         NaN        NaN          NaN
1           496.0      504.0   484.0       344.0      321.0        278.0
2             NaN        NaN     NaN         NaN        NaN          NaN
3           526.0      567.0   539.0       364.0      352.0        301.0
4             NaN        NaN     NaN         NaN        NaN          NaN

   Kempegowda Bus Station   KSRTC  Mysore City  Mysore Rural
0                     NaN     NaN          NaN           NaN
1                     NaN  7496.0          NaN           NaN
2                     NaN     NaN          NaN           NaN
3                     NaN  8198.0          NaN           NaN
4                     NaN     NaN          NaN           NaN

[5 rows x 21 columns]

   Sl.No.                Factor  Bengaluru Central  Ramanagara  Tumkuru  \
0       1  Physical performance                NaN         NaN      NaN
1       2             Schedules              621.0       457.0    581.0
2       3      (As on last day)                NaN         NaN      NaN
3       4            Fleet Held              733.0       491.0    614.0
4       5      (As on last day)                NaN         NaN      NaN

   Kolara  Chikkaballapura  Mysore  Mandya  Chamarajanagar  Hassan  \
0     NaN              NaN     NaN     NaN             NaN     NaN
1   504.0            521.0   977.0   423.0           465.0   520.0
2     NaN              NaN     NaN     NaN             NaN     NaN
3   538.0            574.0  1091.0   447.0           509.0   552.0
4     NaN              NaN     NaN     NaN             NaN     NaN

   Chikkamagaluru  Mangaluru  Puttur  Davanagere  Shivamoga  Chitradurga  \
0             NaN        NaN     NaN         NaN        NaN          NaN
1           496.0      504.0   484.0       344.0      321.0        278.0
2             NaN        NaN     NaN         NaN        NaN          NaN
3           526.0      567.0   539.0       364.0      352.0        301.0
4             NaN        NaN     NaN         NaN        NaN          NaN

   Kempegowda Bus Station   KSRTC
0                     NaN     NaN
1                     NaN  7496.0
2                     NaN     NaN
3                     NaN  8198.0
4                     NaN     NaN

In [29]:
D1=data1.T
D1.columns=D1.iloc[1]
D1=D1[2:]
for i in D1.columns:
    print(i)
col_to_keep=['Schedules','(As on last day)','Fleet Held','(As on last day)','Fleet Utilisation (%)','Financial performance']
D1.drop(columns=[col for col in D1.columns if col not in col_to_keep],inplace=True)
D1

Physical performance
Schedules
(As on last day)
Fleet Held
(As on last day)
Fleet Utilisation (%)
% off road  vehicles
Schedule kms (in lakh)
Effective Kilometers (in lakh)
Vehicle Utilisation (in kms)
Gross kms (in lakh)
High speed diesel  consumed (in lakh)
Kilometer per liter (High speed diesel )
No.of Break  downs
Rate of Break down per 10000 km
No. of Accidents
Rate of Accident per 100000 km
Financial performance
Traffic Revenue
(Rs. in lakh)
Other Revenue
(Rs. in lakh)
Gross Revenue
(Rs. in lakh)
Cost of Operation
(Rs. in lakh)
Margin  (Rs. in lakh)
a. On traffic revenue
b. on gross revenue
Earnings Per Kilo Metre (in paise)
(On traffic revenue)
Earnings Per Kilo Metre (in paise)
(On Gross revenue)
COST  PER kilo meter (in paise)

Factor,Schedules,(As on last day),Fleet Held,(As on last day),Fleet Utilisation (%),Financial performance
Bengaluru Central,621.0,NaN,733.0,NaN,75.7,NaN
Ramanagara,457.0,NaN,491.0,NaN,86.9,NaN
Tumkuru,581.0,NaN,614.0,NaN,88.2,NaN
Kolara,504.0,NaN,538.0,NaN,88.6,NaN
Chikkaballapura,521.0,NaN,574.0,NaN,89.7,NaN
Mysore,977.0,NaN,1091.0,NaN,82.3,NaN
Mandya,423.0,NaN,447.0,NaN,89.4,NaN
Chamarajanagar,465.0,NaN,509.0,NaN,90.9,NaN
Hassan,520.0,NaN,552.0,NaN,94.1,NaN
Chikkamagaluru,496.0,NaN,526.0,NaN,95.6,NaN
Mangaluru,504.0,NaN,567.0,NaN,86.8,NaN
Puttur,484.0,NaN,539.0,NaN,88.6,NaN
Davanagere,344.0,NaN,364.0,NaN,96.2,NaN
Shivamoga,321.0,NaN,352.0,NaN,85.7,NaN
Chitradurga,278.0,NaN,301.0,NaN,90.2,NaN
Kempegowda Bus Station,NaN,NaN,NaN,NaN,NaN,NaN
KSRTC,7496.0,NaN,8198.0,NaN,87.7,NaN

In [6]:
print(data1.describe())

          Sl.No.  Bengaluru Central   Ramanagara      Tumkuru       Kolara  \
count  34.000000          23.000000    23.000000    23.000000    23.000000
mean   17.500000        1177.930870   690.750435   768.154348   708.359565
std     9.958246        1950.477745  1287.151011  1356.364405  1326.003996
min     1.000000        -667.240000  -487.380000  -676.950000  -805.080000
25%     9.250000           4.310000     5.055000     4.345000     5.625000
50%    17.500000          75.610000    43.560000    61.800000    53.030000
75%    25.750000        2026.795000   899.475000  1206.585000  1014.075000
max    34.000000        5433.800000  4343.500000  4306.700000  4455.900000

       Chikkaballapura       Mysore       Mandya  Chamarajanagar       Hassan  \
count        23.000000    23.000000    23.000000       23.000000    23.000000
mean        758.231739  1022.386957   670.703043      746.594348   759.866522
std        1277.903601  1838.151028  1300.223832     1301.273634  1412.630923
min        -434.030000 -1345.530000  -676.180000     -332.250000  -880.620000
25%           4.695000     6.315000     6.070000        4.430000     5.520000
50%          56.280000    92.330000    45.300000       48.420000    57.770000
75%        1140.715000  2168.760000   869.440000     1050.685000  1122.355000
max        3929.300000  4973.500000  4525.300000     4077.600000  4651.700000

       Chikkamagaluru    Mangaluru       Puttur  Davanagere    Shivamoga  \
count       23.000000    23.000000    23.000000    23.00000    23.000000
mean       747.929130   918.106087   770.223478   751.15087   707.685652
std       1305.793129  1569.724676  1384.859818  1374.50135  1386.356864
min       -529.670000  -476.520000  -524.950000  -255.26000  -495.270000
25%          4.000000     6.760000     4.545000     4.61500     5.650000
50%         57.250000    58.660000    47.350000    38.36000    37.910000
75%       1130.700000  1403.255000  1052.320000   855.66000   802.730000
max       4104.900000  4729.300000  4501.300000  4353.60000  4798.200000

       Chitradurga  Kempegowda Bus Station         KSRTC
count    23.000000                7.000000     23.000000
mean    645.738261               34.517143   4620.091304
std    1264.523766              111.751146  10834.255242
min    -296.620000             -151.320000  -9034.870000
25%       5.505000              -19.145000     37.485000
50%      30.460000               17.950000    776.980000
75%     648.805000              122.005000   4105.350000
max    4277.900000              169.270000  35543.830000